
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .notfound a {
        margin-left: 46%;
        border-radius: 20px
    }
</style>
<div class="notfound mt-5">
    <h2 class="text-center">No Sellers To Review</h2>
    @Html.ActionLink("Back to Home", "States", "States", null, new { @class = "btn buy btn-primary mt-5 mb-5" })
</div>

