:root {
    --color-main: #32749b;
    --color-white: #fff;
    --color-gray: #afafb6
}

body {
    overflow-x: hidden;
}

.circule {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}


/*start nav*/

nav {
    background-color: var(--color-main);
    box-shadow: 0 5px 10px rgb(77 130 155);
    z-index: 2;
}

nav a.nav-link,
nav .navbar-brand {
    color: var(--color-white)!important
}

nav .navbar-brand {
    font-size: 28px;
}

nav button.search {
    background-color: var(--color-white);
}

nav button.btn-outline-success:active:focus,
nav button.btn-outline-success:hover,
nav button.btn-outline-success:focus,
.btn-outline-success {
    background-color: var(--color-main);
}

.navbar-light .navbar-nav .nav-link.active {
    color: #01c4ff !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover,
nav a.nav-link:hover {
    color: #01c4ff !important;
    font-weight: bold;
    transition: 2px 2s All 1s;
    -webkit-transition: 2px 2s All 1s;
    -moz-transition: 2px 2s All 1s;
    -ms-transition: 2px 2s All 1s;
    -o-transition: 2px 2s All 1s;
}


/*end nav*/


/*start search*/


/**start search */

.search {
    margin-top: 20px;
    margin-left: 10px;
}

.search b {
    font-size: 24px;
}

.search .form-control,
.search .form-select {
    width: auto;
    display: inline;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    line-height: 1;
}

.search .form-control {
    width: 500px;
    height: 40px;
    border-radius: 30px;
}

.btn {
    width: 120px;
    background: var(--color-main);
    border-radius: 15px;
    margin-left: 20px;
    font-size: 14px;
    color: var(--color-white);
}

.search input[type="submit"]:hover,
.search .offers:hover,
.btn:hover {
    background: #265069;
    color: #fff;
}

.search .searchby {
    color: var(--color-main);
}

.search .off {
    margin: auto;
    margin-right: initial;
}

.search1 {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*end search */


/*start auction */

.states {
    padding-top: 50px;
    padding-bottom: 50px;
}

.states .card {
    height: 500px;
    margin-top: 50px;
    box-shadow: 7px 10px #888888;
    margin: 50px auto;
    border-radius: 50px;
}

.states h2 {
    margin-top: 50px;
    color: var(--color-main);
}

.states .card h5 {
    font-size: 1.6rem;
}

.states .card img {
    width: 100%;
    height: 250px;
    border-radius: 50px 50px 0 0;
}

.states .card .buy {
    background-color: var(--color-main);
}

.states .card .buy:hover {
    background: #265069;
}

.states .card p {
    height: 80px;
    overflow: hidden;
    text-align: right;
}

.states .card .btn {
    width: 120px;
    margin: auto;
    background-color: #32749b;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.states .card h6 {
    color: var(--color-main);
    line-height: 1.5;
}

.states .fav {
    color: red;
}

.states .card,
.states .card i {
    cursor: pointer;
}

.states .card h6 span {
    color: black;
    line-height: 1.5;
}


/*end auction*/