
@{
    ViewBag.Title = "Auction";
    Layout = "~/Views/Shared/profileBar.cshtml";
}
<link rel="stylesheet" href="~/css/auction.css">

<!--start auction-->
<div class="states">
    <div class="container">
        <h2 class="text-center mb-5">Auctions</h2>
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Apartment</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>120,0000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>12-4-2025</h6>
                        <h6 class="card-text"><span>Start-Time: </span>3 PM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Apartment</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>50,000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>10-6-2026</h6>
                        <h6 class="card-text"><span>Start-Time: </span>5 PM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Villa</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>30,000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>15-7-2024</h6>
                        <h6 class="card-text"><span>Start-Time: </span>9 AM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b4.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Villa</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>10,0000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>30-9-2023</h6>
                        <h6 class="card-text"><span>Start-Time: </span>11 PM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Apartment</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>15,0000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>5-5-2025</h6>
                        <h6 class="card-text"><span>Start-Time: </span>10 AM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/b6.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="card-title">Villa</h5>
                            </div>
                        </div>
                        <h6 class="price"><span>Start-Price: </span>20,0000 USD</h6>
                        <h6 class="card-text"><span>Start-Date: </span>26-1-2024</h6>
                        <h6 class="card-text"><span>Start-Time: </span>1 PM</h6>
                        <a href="/Auction/Item" class="btn btn-primary buy">Join</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--end auction-->
