
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/profileBar.cshtml";
}

<link rel="stylesheet" href="~/css/item.css">
<div class="container">
    <div class="box">
        <div class="images">
            <div class="img-holder active">
                <img src="~/images/b9.jpeg" height="300" />
            </div>
            <div class="img-holder">
                <img src="~/images/b7.jpeg" height="150" />
            </div>
            <div class="img-holder">
                <img src="~/images/b8.jpeg" height="150" />
            </div>
            <div class="img-holder">
                <img src="~/images/b1.jpeg" height="150" />
            </div>
        </div>
        <div class="basic-info">
            <h1 class="headd">Villa</h1>
            <span>Price: 30,000 USD </span>
        </div>
        <div class="description">
            <p class="p">Description: country estate, complete with house, grounds, and subsidiary buildings</p>
            <ul class="features">
                <li><i class="fa-solid fa-circle-xmark"></i>Start-Date: 12-4-2025</li>
                <li><i class="fa-solid fa-circle-xmark"></i>Start-time: 3 PM</li>
                <li><i class="fa-solid fa-circle-xmark"></i>Number-of-People: 30</li>
                <li><i class="fa-solid fa-circle-check"></i>Popularity: High</li>
                <li><i class="fa-solid fa-circle-xmark"></i>Status: Available</li>
                <div class="buttonn">
                <li>
                    <i class="fa-solid fa-circle-xmark"></i>
                </li>
                <li>
                    <i class="fa-solid fa-circle-xmark"></i>
                    <a type="button" class="start" href="/Auction/MainAuction" va>
                        Start
                    </a>
                </li>
                </div>
        </ul>
    </div>
</div>
    </div>